* {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.logo {
  width: 20%;
}

.search-container {
  width: 100%;
  position: relative;
}

/* SEARCH SECTION */

#search {
  background-color: #e7e7e7;
  font-size: 18px;
  margin-top: 20px;
  width: 100%;
  height: 69px;
  border-radius: 5px;
  padding-left: 30px;
  border: none;
  outline: none;
}

.search-icon {
  position: absolute;
  cursor: pointer;
  z-index: 5;
  right: 20px;
  top: 40px;
}

/* FILTERED SELECTED ITEM SECTION  */

.filtered-result {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.filtered-details {
  padding: 5px 12px;
  min-width: 60px;
  min-height: 37px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: #3282f7;
  border-radius: 5px;
  margin: 0 15px 5px 0;
}

.filtered-details span {
  margin-right: 5px;
  font-size: 14px;
}

.delete-selected-filter {
  cursor: pointer;
  margin: 5px;
}

/* FILTER SECTION */

.filters {
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  width: 100%;
  position: relative;
}

.filter-container {
  user-select: none;
  padding: 5px 12px;
  width: 170px;
  height: 69px;
  min-width: 80px;
  min-height: 37px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  border-radius: 5px;
  margin: 0 15px 5px 0;
  cursor: pointer;
  /* transition: 0.5s; */
}

.filter-ingredients,
#ingredients,
.ingredients-list {
  background-color: #3282f7;
}

.filter-appliances,
#appliances,
.appliances-list {
  background-color: #68d9a4;
}

.filter-utensils,
#utensils,
.utensils-list {
  background-color: #ed6454;
}

.container-list {
  width: 50%;
  position: relative;
  display: none;
  margin-right: 15px;
}

.container-list > input {
  width: 100%;
  height: 69px;
  font-size: 18px;
  padding-left: 20px;
  border: none;
  border-radius: 5px 5px 0px 0px;
}

.container-list input::placeholder {
  color: white;
  opacity: 0.9;
}

.container-list img {
  position: absolute;
  cursor: pointer;
  z-index: 5;
  right: 20px;
  top: 25px;
}

.container-list ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  flex-wrap: wrap;
  color: white;
  padding: 20px;
  font-size: 17px;
  border-radius: 0px 0px 5px 5px;
  max-height: 500px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.container-list li {
  width: 33%;
  height: 40px;
  min-width: 120px;
}

.show {
  display: block;
  animation: openFilterList ease-in-out 0.7s forwards;
}

.hide {
  animation: closeFilterList 1s forwards;
  display: none;
}

/* CARD SECTION */

main {
  margin-bottom: 50px;
}

#result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 70px 10px;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  max-height: 400px;
  width: 100%;
  border-radius: 5px;
}

.card > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.card-title {
  width: 100%;
  padding: 30px 5px;
  display: flex;
  justify-content: space-evenly;
}

.card-info {
  background-color: #e7e7e7;
  height: 230px;
  padding-bottom: 55px;
  border-radius: 0 0 5px 5px;
}

.card-title h1 {
  width: 70%;
  font-size: 18px;
  font-weight: 400;
}

.card-title span {
  font-weight: bold;
}

.card-description {
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 12px;
}

.card-description ul {
  width: 45%;
  min-width: 20%;
  max-height: 120px;
}

.card-description p {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  width: 50%;
  min-width: 20%;
  max-height: 120px;
  overflow: hidden;
}

.card-description li {
  list-style-type: none;
}

/* ANIMATION */

@keyframes openFilterList {
  from {
    transform: scale(0.2, 0.3);
    transform-origin: top left;
    opacity: 0.5;
  }

  50% {
    opacity: 0.7;
    transform: scale(1, 0.5);
    transform-origin: top left;
  }
  70% {
    opacity: 0.8;
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: top left;
  }
}

@keyframes closeFilterList {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
